In [1]:
## RUN THIS CELL TO GET THE RIGHT FORMATTING 
import requests
from IPython.core.display import HTML
styles = requests.get("https://raw.githubusercontent.com/Harvard-IACS/2018-CS109A/master/content/styles/cs109.css").text
HTML(styles)

In [2]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
from bs4 import BeautifulSoup
import requests
import json
import re
from requests import get
import collections
import pandas as pd

In [3]:
furl1 = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)"
my_page1 = requests.get(furl1)
soup1 = BeautifulSoup(my_page1.text, "html.parser")

In [4]:
gdps = []
countries = []
j = 0
for i in range(5, 196):
    partsoup = soup1.find_all('tr')[i]
    gdp = re.sub("[^0-9]", "", partsoup.find_all('td', align = "right")[1].text.strip().replace(",", ""))
    gdps.append(int(gdp))
    countries.append(partsoup.a.text.strip())
    
gdp_df = pd.DataFrame()
gdp_df['country'] = countries
gdp_df['gdp'] = gdps
gdp_df.head()

          country       gdp
0   United States  19390600
1           China  12014610
2           Japan   4872135
3         Germany   3684816
4  United Kingdom   2624529

In [5]:
furl2 = "http://www.worldometers.info/world-population/population-by-country/"
my_page2 = requests.get(furl2)
soup2 = BeautifulSoup(my_page2.text, "html.parser")

In [6]:
countrys = []
pops = []
for i in range(1, 234):
    partsoup = soup2.find_all('tr')[i]
    countrys.append(partsoup.a.text.strip())
    pops.append(int(partsoup.find_all('td')[2].text.strip().replace(",", "")))
    
pops_df = pd.DataFrame()
pops_df['country'] = countrys
pops_df['population'] = pops
pops_df.head()

     country  population
0      China  1415045928
1      India  1354051854
2       U.S.   326766748
3  Indonesia   266794980
4     Brazil   210867954

In [7]:
# join on country
combined_df = gdp_df.set_index('country').join(pops_df.set_index('country'))
combined_df.to_csv('GDP_and_Population_original.csv')
combined_df.head()

                     gdp    population
country
United States   19390600           NaN
China           12014610  1.415046e+09
Japan            4872135  1.271853e+08
Germany          3684816  8.229346e+07
United Kingdom   2624529           NaN

In [8]:
furl3 = "https://en.wikipedia.org/wiki/List_of_countries_by_average_yearly_temperature"
my_page3 = requests.get(furl3)
soup3 = BeautifulSoup(my_page3.text, "html.parser")

In [9]:
countras = []
temps = []
for i in range(2, 192):
    partsoup = soup3.find_all('tr')[i]
    countras.append(partsoup.a['title'])
    temps.append(partsoup.find_all('td')[1].text.strip())

temps_df = pd.DataFrame()
temps_df['country'] = countras
temps_df['temp_in_celcius'] = temps
temps_df.to_csv('temps_original.csv')
temps_df.head()

        country temp_in_celcius
0  Burkina Faso           28.25
1          Mali           28.25
2      Kiribati           28.20
3      Djibouti           28.00
4        Tuvalu           28.00

In [10]:
furl4 = "https://www.nationmaster.com/country-info/stats/Geography/Average-precipitation-in-depth/Mm-per-year#2011"
my_page4 = requests.get(furl4)
soup4 = BeautifulSoup(my_page4.text, "html.parser")

In [12]:
cs = []
percipitations = []
for i in range(1, 207):
    partsoup = soup4.find_all('tr')[i]
    cs.append(partsoup.a.text.strip())
    percipitations.append(float(partsoup.find('td', class_ = 'amount').text.strip().replace(",", "")))

rain_df = pd.DataFrame()
rain_df['country'] = cs
rain_df['rain_mm_per_year'] = percipitations
rain_df.to_csv('rain_original.csv')
rain_df.head()

                 country  rain_mm_per_year
0  Sao Tome and Principe            3200.0
1       Papua New Guinea            3142.0
2        Solomon Islands            3028.0
3             Costa Rica            2926.0
4               Malaysia            2875.0