In [1]:
## RUN THIS CELL TO GET THE RIGHT FORMATTING 
import requests
from IPython.core.display import HTML
styles = requests.get("https://raw.githubusercontent.com/Harvard-IACS/2018-CS109A/master/content/styles/cs109.css").text
HTML(styles)

In [2]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
from bs4 import BeautifulSoup
import requests
import json
import re
from requests import get
import collections
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [3]:
rank_df = pd.read_csv("fifa_ranking.csv")

In [4]:
rank_groups = rank_df.groupby('rank_date')

In [5]:
wc2006_rankings = rank_groups.get_group('5/17/06')
wc2010_rankings = rank_groups.get_group('5/26/10')
wc2014_rankings = rank_groups.get_group('5/8/14')
wc2018_rankings = rank_groups.get_group('5/17/18')

In [6]:
tourney_df = pd.read_csv('WorldCupMatches.csv', encoding = 'ISO-8859-1')
tourney_df.head()

   Year              Datetime    Stage  Unnamed: 3  Unnamed: 4         Stadium         City Home Team Name  Home Team Goals  Away Team Goals Away Team Name Win conditions  Attendance  Half-time Home Goals  Half-time Away Goals                 Referee               Assistant 1                 Assistant 2  RoundID  MatchID Home Team Initials Away Team Initials
0  1930  13 Jul 1930 - 15:00   Group 1         NaN         NaN         Pocitos  Montevideo          France                4                1         Mexico                     4444.0                     3                     0  LOMBARDI Domingo (URU)     CRISTOPHE Henry (BEL)         REGO Gilberto (BRA)      201     1096                FRA                MEX
1  1930  13 Jul 1930 - 15:00   Group 4         NaN         NaN  Parque Central  Montevideo             USA                3                0        Belgium                    18346.0                     2                     0       MACIAS Jose (ARG)  MATEUCCI Francisco (URU)       WARNKEN Alberto (CHI)      201     1090                USA                BEL
2  1930  14 Jul 1930 - 12:45   Group 2         NaN         NaN  Parque Central  Montevideo      Yugoslavia                2                1         Brazil                    24059.0                     2                     0     TEJADA Anibal (URU)   VALLARINO Ricardo (URU)         BALWAY Thomas (FRA)      201     1093                YUG                BRA
3  1930  14 Jul 1930 - 14:50   Group 3         NaN         NaN         Pocitos  Montevideo         Romania                3                1           Peru                     2549.0                     1                     0   WARNKEN Alberto (CHI)       LANGENUS Jean (BEL)    MATEUCCI Francisco (URU)      201     1098                ROU                PER
4  1930  15 Jul 1930 - 16:00   Group 1         NaN         NaN  Parque Central  Montevideo       Argentina                1                0         France                    23409.0                     0                     0     REGO Gilberto (BRA)      SAUCEDO Ulises (BOL)  RADULESCU Constantin (ROU)      201     1085                ARG                FRA

In [7]:
home_team_result = []
diff = tourney_df['Home Team Goals'] - tourney_df['Away Team Goals']
for i in range(len(diff)):
    if diff[i] > 0:
        home_team_result.append('W')
    elif diff[i] == 0:
        home_team_result.append('D')
    else:
        home_team_result.append('L')

In [8]:
for i in range(len(tourney_df)):
    if tourney_df['Win conditions'][i] != ' ':
        if tourney_df['Home Team Name'][i] in tourney_df['Win conditions'][i]:
            home_team_result[i] = 'W'
        else:
            home_team_result[i] = 'L'

tourney_df['Home Team Result'] = home_team_result

In [9]:
tourney_groups = tourney_df.groupby('Year')

In [10]:
wc_2006_tourney = tourney_groups.get_group(2006)
wc_2010_tourney = tourney_groups.get_group(2010)
wc_2014_tourney = tourney_groups.get_group(2014)

In [11]:
def rank_game (tourney, rank):
    rank['Home Team Initials'] = rank['country_abrv']
    rank['Away Team Initials'] = rank['country_abrv']
    rank_abv = rank[['rank', 'Home Team Initials', 'Away Team Initials']]
    merge_home = tourney.merge(rank_abv[['rank', 'Home Team Initials']], 
                               how = 'left', on = 'Home Team Initials')
    merge_home = merge_home.rename(columns={'rank': 'Home Rank'})
    merge_both = merge_home.merge(rank_abv[['rank', 'Away Team Initials']], 
                                  how = 'left', on = 'Away Team Initials') 
    merge_both = merge_both.rename(columns={'rank': 'Away Rank'})
    return merge_both

In [12]:
merged_2006 = rank_game(wc_2006_tourney, wc2006_rankings)
merged_2010 = rank_game(wc_2010_tourney, wc2010_rankings)
merged_2014 = rank_game(wc_2014_tourney, wc2014_rankings)

In [13]:
step1 = merged_2006.append(merged_2010, ignore_index = True)

In [14]:
merged_set = step1.append(merged_2014, ignore_index = True)

In [15]:
merged_set.head()

   Year              Datetime    Stage  Unnamed: 3  Unnamed: 4                                Stadium             City           Home Team Name  Home Team Goals  Away Team Goals   Away Team Name Win conditions  Attendance  Half-time Home Goals  Half-time Away Goals                   Referee                Assistant 1           Assistant 2   RoundID   MatchID Home Team Initials Away Team Initials Home Team Result  Home Rank  Away Rank
0  2006  09 Jun 2006 - 18:00   Group A         NaN         NaN         FIFA World Cup Stadium, Munich          Munich                   Germany                4                2       Costa Rica                    66000.0                     2                     1    ELIZONDO Horacio (ARG)         GARCIA Dario (ARG)   OTERO Rodolfo (ARG)  97410100  97410001                GER                CRC                W         19         26
1  2006  09 Jun 2006 - 21:00   Group A         NaN         NaN  FIFA World Cup Stadium, Gelsenkirchen   Gelsenkirchen                    Poland                0                2          Ecuador                    52000.0                     0                     1       KAMIKAWA Toru (JPN)  HIROSHIMA Yoshikazu (JPN)   KIM Dae Young (KOR)  97410100  97410002                POL                ECU                L         29         39
2  2006  10 Jun 2006 - 15:00   Group B         NaN         NaN      FIFA World Cup Stadium, Frankfurt  Frankfurt/Main                   England                1                0         Paraguay                    48000.0                     1                     0     RODRIGUEZ Marco (MEX)    CAMARGO Jose Luis (MEX)     LEAL Leonel (CRC)  97410100  97410003                ENG                PAR                W         10         33
3  2006  10 Jun 2006 - 18:00   Group B         NaN         NaN       FIFA World Cup Stadium, Dortmund        Dortmund   rn">Trinidad and Tobago                0                0           Sweden                    62959.0                     0                     0      MAIDIN Shamsul (SIN)   PERMPANICH Prachya (THA)    GHULOUM Eisa (UAE)  97410100  97410004                TRI                SWE                D         47         16
4  2006  10 Jun 2006 - 21:00   Group C         NaN         NaN        FIFA World Cup Stadium, Hamburg         Hamburg                 Argentina                2                1  C¥Ë_te d'Ivoire                    49480.0                     2                     0  DE BLEECKERE Frank (BEL)        HERMANS Peter (BEL)  VROMANS Walter (BEL)  97410100  97410005                ARG                CIV                W          9         32

In [16]:
for i in range(len(merged_set['Home Team Name'])):
    if '>' in merged_set['Home Team Name'][i] :
        merged_set['Home Team Name'][i] = merged_set['Home Team Name'][i][4:]
    if 'Ivoire' in merged_set['Home Team Name'][i]:
        merged_set['Home Team Name'][i] = 'Ivory Coast'
    if 'Iran' in merged_set['Home Team Name'][i]:
        merged_set['Home Team Name'][i] = 'Iran'

for i in range(len(merged_set['Away Team Name'])):
    if '>' in merged_set['Away Team Name'][i] :
        merged_set['Away Team Name'][i] = merged_set['Away Team Name'][i][4:]
    if 'Ivoire' in merged_set['Away Team Name'][i]:
        merged_set['Away Team Name'][i] = 'Ivory Coast'
    if 'Iran' in merged_set['Away Team Name'][i]:
        merged_set['Away Team Name'][i] = 'Iran'

In [17]:
country_factors = pd.read_csv("gdp_rain_temp.csv", encoding = 'ISO-8859-1')
country_factors.head()

   Unnamed: 0       country temp_in_celcius  rain_mm_per_year  gdp(millions_dollars)  population  gdp(dollars)  gdp_dollar_per_person
0         0.0  Burkina Faso           28.25             748.0                13187.0  19751651.0  1.318700e+10                 667.64
1         1.0          Mali           28.25             282.0                14998.0  19107706.0  1.499800e+10                 784.92
2         2.0      Djibouti           28.00             220.0                 2082.0    971408.0  2.082000e+09                2143.28
3         3.0       Senegal           27.85             686.0                16057.0  16294270.0  1.605700e+10                 985.44
4         4.0    Mauritania           27.65              92.0                 4985.0   4540068.0  4.985000e+09                1098.00

In [18]:
def country_game (country_facts, tourney):
    country_facts['Home Team Name'] = country_facts['country']
    merge_home = tourney.merge(country_facts[['Home Team Name', 'temp_in_celcius', 'rain_mm_per_year', 'gdp(millions_dollars)',
                                              'population', 'gdp_dollar_per_person']], 
                               how = 'left', on = 'Home Team Name')
    merge_home = merge_home.rename(columns={'temp_in_celcius': 'Home Temp', 
                                            'rain_mm_per_year': 'Home Rain',
                                            'gdp(millions_dollars)': 'Home GDP (millions)',
                                            'population': 'Home Population',
                                            'gdp_dollar_per_person': 'Home GDP per Person (dollars)'})
    country_facts['Away Team Name'] = country_facts['country']
    merge_both = merge_home.merge(country_facts[['Away Team Name', 'temp_in_celcius', 'rain_mm_per_year', 'gdp(millions_dollars)',
                                                 'population', 'gdp_dollar_per_person']], 
                                  how = 'left', on = 'Away Team Name')
    merge_both = merge_both.rename(columns={'temp_in_celcius': 'Away Temp', 
                                            'rain_mm_per_year': 'Away Rain',
                                            'gdp(millions_dollars)': 'Away GDP (millions)',
                                            'population': 'Away Population',
                                            'gdp_dollar_per_person': 'Away GDP per Person (dollars)'})
    return merge_both

In [19]:
merged_country_info = country_game(country_factors, merged_set)
merged_country_info = merged_country_info.drop(columns=['Unnamed: 3', 'Unnamed: 4'])

merged_country_info.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials,Home Team Result,Home Rank,Away Rank,Home Temp,Home Rain,Home GDP (millions),Home Population,Home GDP per Person (dollars),Away Temp,Away Rain,Away GDP (millions),Away Population,Away GDP per Person (dollars)
0,2006,09 Jun 2006 - 18:00,Group A,"FIFA World Cup Stadium, Munich",Munich,Germany,4,2,Costa Rica,,66000.0,2,1,ELIZONDO Horacio (ARG),GARCIA Dario (ARG),OTERO Rodolfo (ARG),97410100,97410001,GER,CRC,W,19,26,8.50,700.0,3684816.0,82293457.0,44776.54,24.80,2926.0,58056.0,4953199.0,11720.91
1,2006,09 Jun 2006 - 21:00,Group A,"FIFA World Cup Stadium, Gelsenkirchen",Gelsenkirchen,Poland,0,2,Ecuador,,52000.0,0,1,KAMIKAWA Toru (JPN),HIROSHIMA Yoshikazu (JPN),KIM Dae Young (KOR),97410100,97410002,POL,ECU,L,29,39,7.85,600.0,524886.0,38104832.0,13774.79,21.85,2087.0,102311.0,16863425.0,6067.04
2,2006,10 Jun 2006 - 15:00,Group B,"FIFA World Cup Stadium, Frankfurt",Frankfurt/Main,England,1,0,Paraguay,,48000.0,1,0,RODRIGUEZ Marco (MEX),CAMARGO Jose Luis (MEX),LEAL Leonel (CRC),97410100,97410003,ENG,PAR,W,10,33,8.45,1220.0,2624529.0,66573504.0,39423.03,23.55,1130.0,29619.0,6896908.0,4294.53
3,2006,10 Jun 2006 - 18:00,Group B,"FIFA World Cup Stadium, Dortmund",Dortmund,Trinidad and Tobago,0,0,Sweden,,62959.0,0,0,MAIDIN Shamsul (SIN),PERMPANICH Prachya (THA),GHULOUM Eisa (UAE),97410100,97410004,TRI,SWE,D,47,16,25.75,2200.0,20300.0,1372598.0,14789.47,2.10,624.0,538575.0,9982709.0,53950.79
4,2006,10 Jun 2006 - 21:00,Group C,"FIFA World Cup Stadium, Hamburg",Hamburg,Argentina,2,1,Ivory Coast,,49480.0,2,0,DE BLEECKERE Frank (BEL),HERMANS Peter (BEL),VROMANS Walter (BEL),97410100,97410005,ARG,CIV,W,9,32,14.80,591.0,637717.0,44688864.0,14270.15,26.35,1348.0,40360.0,24905843.0,1620.50

In [20]:
test_df = pd.read_csv('results2018.csv')
test_df = test_df.replace({'IR Iran': 'Iran'})
test_df = test_df.rename(columns={'Home Result': 'Home Team Result'})

test_ranks = rank_game(test_df, wc2018_rankings)
test_ranks = country_game(country_factors, test_ranks)

test_ranks['Year'] = [2018 for i in range(len(test_ranks))]

In [21]:
country_ids = {}
for i in range(len(merged_country_info)):
    home_name, home_id = merged_country_info['Home Team Name'][i], merged_country_info['Home Team Initials'][i]
    away_name, away_id =merged_country_info['Away Team Name'][i], merged_country_info['Away Team Initials'][i]
    
    if not country_ids.get(home_name):
        country_ids[home_name] = home_id
    if not country_ids.get(away_name):
        country_ids[away_name] = away_id
for i in range(len(test_df)):
    home_name, home_id = test_df['Home Team Name'][i], test_df['Home Team Initials'][i]
    away_name, away_id =test_df['Away Team Name'][i], test_df['Away Team Initials'][i]
    
    if not country_ids.get(home_name):
        country_ids[home_name] = home_id
    if not country_ids.get(away_name):
        country_ids[away_name] = away_id

In [22]:
betting_data = pd.read_csv('betting_data/odds_full.csv', index_col=0)

In [23]:
# cleaning
betting_data.team = betting_data.team.replace({
    'Iran 30000': 'Iran',
    'Trinidad & Tobago': 'Trinidad and Tobago',
    'North Korea': 'Korea DPR',
    'Korea': 'Korea Republic',
    'South Korea': 'Korea Republic',
    'Bosnia & Herzegovina': 'Bosnia and Herzegovina',
    'Serbia & Montenegro': 'Serbia and Montenegro',
})

# remove older cups and test data
betting_data = betting_data[betting_data.year.isin(range(2006, 2019))]

# add country initals
team_ids = []
for i in range(len(betting_data)):
    team_ids.append(country_ids[list(betting_data.team)[i]])
betting_data['team_id'] = team_ids

betting_data = betting_data.drop(columns=['team'])

In [24]:
betting_data = betting_data.rename(columns={'team_id': 'Home Team Initials', 'year': 'Year', 'final_line': 'Home Team Line'})

In [25]:
temp_train = merged_country_info.merge(betting_data, how='inner', on=['Home Team Initials', 'Year'])
temp_test = test_ranks.merge(betting_data, how='inner', on=['Home Team Initials', 'Year'])

In [26]:
betting_data = betting_data.rename(columns={'Home Team Initials': 'Away Team Initials', 'Home Team Line': 'Away Team Line'})

In [27]:
full_train = temp_train.merge(betting_data, how='inner', on=['Away Team Initials', 'Year'])
full_test = temp_test.merge(betting_data, how='inner', on=['Away Team Initials', 'Year'])

full_test.head()

            Group Home Team Name Away Team Name  Team 1 Score  Team 2 Score Home Team Result Home Team Initials Away Team Initials  Home Rank  Away Rank Home Temp  Home Rain  Home GDP (millions)  Home Population  Home GDP per Person (dollars) Away Temp  Away Rain  Away GDP (millions)  Away Population  Away GDP per Person (dollars)  Year  Home Team Line  Away Team Line
0               A         Russia   Saudi Arabia             5             0                W                RUS                KSA         66         67   äÍ5.10      460.0            1527469.0      143964709.0                       10610.02     24.65       59.0             683827.0       33554343.0                       20379.69  2018            7500          150000
1               A        Uruguay   Saudi Arabia             1             0                W                URU                KSA         17         67     17.55     1265.0              58415.0        3469551.0                       16836.47     24.65       59.0             683827.0       33554343.0                       20379.69  2018            2800          150000
2               A         Russia          Egypt             3             1                W                RUS                EGY         66         46   äÍ5.10      460.0            1527469.0      143964709.0                       10610.02     22.10       51.0             237073.0       99375741.0                        2385.62  2018            7500           32500
3               A   Saudi Arabia          Egypt             2             1                W                KSA                EGY         67         46     24.65       59.0             683827.0       33554343.0                       20379.69     22.10       51.0             237073.0       99375741.0                        2385.62  2018          150000           32500
4  Quarter-finals         Russia        Croatia             2             2                L                RUS                CRO         66         18   äÍ5.10      460.0            1527469.0      143964709.0                       10610.02     10.90     1113.0              54516.0        4164783.0                       13089.76  2018            7500            3500

In [28]:
full_test

             Group  Home Team Name  Away Team Name  Team 1 Score  Team 2 Score Home Team Result Home Team Initials Away Team Initials  Home Rank  Away Rank Home Temp  Home Rain  Home GDP (millions)  Home Population  Home GDP per Person (dollars) Away Temp  Away Rain  Away GDP (millions)  Away Population  Away GDP per Person (dollars)  Year  Home Team Line  Away Team Line
0                A          Russia    Saudi Arabia             5             0                W                RUS                KSA         66         67   äÍ5.10      460.0            1527469.0      143964709.0                       10610.02     24.65       59.0             683827.0       33554343.0                       20379.69  2018            7500          150000
1                A         Uruguay    Saudi Arabia             1             0                W                URU                KSA         17         67     17.55     1265.0              58415.0        3469551.0                       16836.47     24.65       59.0             683827.0       33554343.0                       20379.69  2018            2800          150000
2                A          Russia           Egypt             3             1                W                RUS                EGY         66         46   äÍ5.10      460.0            1527469.0      143964709.0                       10610.02     22.10       51.0             237073.0       99375741.0                        2385.62  2018            7500           32500
3                A    Saudi Arabia           Egypt             2             1                W                KSA                EGY         67         46     24.65       59.0             683827.0       33554343.0                       20379.69     22.10       51.0             237073.0       99375741.0                        2385.62  2018          150000           32500
4   Quarter-finals          Russia         Croatia             2             2                L                RUS                CRO         66         18   äÍ5.10      460.0            1527469.0      143964709.0                       10610.02     10.90     1113.0              54516.0        4164783.0                       13089.76  2018            7500            3500
5            Final          France         Croatia             4             2                W                FRA                CRO          7         18     10.70      867.0            2583560.0       65233271.0                       39604.94     10.90     1113.0              54516.0        4164783.0                       13089.76  2018             700            3500
6                D       Argentina         Croatia             0             3                L                ARG                CRO          5         18     14.80      591.0             637717.0       44688864.0                       14270.15     10.90     1113.0              54516.0        4164783.0                       13089.76  2018             950            3500
7                D         Iceland         Croatia             1             2                L                ISL                CRO         22         18      1.75     1940.0              23909.0         337780.0                       70782.76     10.90     1113.0              54516.0        4164783.0                       13089.76  2018           35000            3500
8                A           Egypt         Uruguay             0             1                L                EGY                URU         46         17     22.10       51.0             237073.0       99375741.0                        2385.62     17.55     1265.0              58415.0        3469551.0                       16836.47  2018           32500            2800
9                B         Morocco            Iran             0             1                L                MAR                IRN         42         36     17.10      346.0             109824.0       36191805.0                        3034.50     17.25      228.0             431920.0       82011735.0                        5266.56  2018           40000           85000
10               B        Portugal           Spain             3             3                D                POR                ESP          4          8     15.15      854.0             218064.0       10291196.0                       21189.37     13.30      636.0            1313951.0       46397452.0                       28319.46  2018            2300             650
11               B            Iran           Spain             0             1                L                IRN                ESP         36          8     17.25      228.0             431920.0       82011735.0                        5266.56     13.30      636.0            1313951.0       46397452.0                       28319.46  2018           85000             650
12               B        Portugal         Morocco             1             0                W                POR                MAR          4         42     15.15      854.0             218064.0       10291196.0                       21189.37     17.10      346.0             109824.0       36191805.0                        3034.50  2018            2300           40000
13               B           Spain         Morocco             2             2                D                ESP                MAR          8         42     13.30      636.0            1313951.0       46397452.0                       28319.46     17.10      346.0             109824.0       36191805.0                        3034.50  2018             650           40000
14               C          France       Australia             2             1                W                FRA                AUS          7         40     10.70      867.0            2583560.0       65233271.0                       39604.94     21.65      534.0            1379548.0       24772247.0                       55689.26  2018             700           75000
15               C         Denmark       Australia             1             1                D                DEN                AUS         12         40      7.50      703.0             324484.0        5754356.0                       56389.28     21.65      534.0            1379548.0       24772247.0                       55689.26  2018           10000           75000
16               C          France            Peru             1             0                W                FRA                PER          7         11     10.70      867.0            2583560.0       65233271.0                       39604.94     19.60     1738.0             215224.0       32551815.0                        6611.74  2018             700           18000
17               C       Australia            Peru             0             2                L                AUS                PER         40         11     21.65      534.0            1379548.0       24772247.0                       55689.26     19.60     1738.0             215224.0       32551815.0                        6611.74  2018           75000           18000
18     Round of 16          France       Argentina             4             3                W                FRA                ARG          7          5     10.70      867.0            2583560.0       65233271.0                       39604.94     14.80      591.0             637717.0       44688864.0                       14270.15  2018             700             950
19               D         Nigeria       Argentina             1             2                L                NGA                ARG         47          5     26.80     1150.0             376284.0      195875237.0                        1921.04     14.80      591.0             637717.0       44688864.0                       14270.15  2018           30000             950
20     Semi-finals          France         Belgium             1             0                W                FRA                BEL          7          3     10.70      867.0            2583560.0       65233271.0                       39604.94      9.55      847.0             494733.0       11498519.0                       43025.80  2018             700            1050
21  Quarter-finals          Brazil         Belgium             1             2                L                BRA                BEL          2          3     24.95     1782.0            2054969.0      210867954.0                        9745.29      9.55      847.0             494733.0       11498519.0                       43025.80  2018             400            1050
22               G         England         Belgium             0             1                L                ENG                BEL         13          3      8.45     1220.0            2624529.0       66573504.0                       39423.03      9.55      847.0             494733.0       11498519.0                       43025.80  2018            1650            1050
23               D       Argentina         Iceland             1             1                D                ARG                ISL          5         22     14.80      591.0             637717.0       44688864.0                       14270.15      1.75     1940.0              23909.0         337780.0                       70782.76  2018             950           35000
24               D         Nigeria         Iceland             2             0                W                NGA                ISL         47         22     26.80     1150.0             376284.0      195875237.0                        1921.04      1.75     1940.0              23909.0         337780.0                       70782.76  2018           30000           35000
25               C            Peru         Denmark             0             1                L                PER                DEN         11         12     19.60     1738.0             215224.0       32551815.0                        6611.74      7.50      703.0             324484.0        5754356.0                       56389.28  2018           18000           10000
26     Round of 16         Croatia         Denmark             1             1                W                CRO                DEN         18         12     10.90     1113.0              54516.0        4164783.0                       13089.76      7.50      703.0             324484.0        5754356.0                       56389.28  2018            3500           10000
27               D         Croatia         Nigeria             2             0                W                CRO                NGA         18         47     10.90     1113.0              54516.0        4164783.0                       13089.76     26.80     1150.0             376284.0      195875237.0                        1921.04  2018            3500           30000
28     Semi-finals         Croatia         England             2             1                W                CRO                ENG         18         13     10.90     1113.0              54516.0        4164783.0                       13089.76      8.45     1220.0            2624529.0       66573504.0                       39423.03  2018            3500            1650
29  Quarter-finals          Sweden         England             0             2                L                SWE                ENG         23         13      2.10      624.0             538575.0        9982709.0                       53950.79      8.45     1220.0            2624529.0       66573504.0                       39423.03  2018           32500            1650
..             ...             ...             ...           ...           ...              ...                ...                ...        ...        ...       ...        ...                  ...              ...                            ...       ...        ...                  ...              ...                            ...   ...             ...             ...
34               F         Germany          Mexico             0             1                L                GER                MEX          1         15      8.50      700.0            3684816.0       82293457.0                       44776.54     21.00      752.0            1149236.0      130759074.0                        8788.96  2018             455           17500
35     Round of 16          Brazil          Mexico             2             0                W                BRA                MEX          2         15     24.95     1782.0            2054969.0      210867954.0                        9745.29     21.00      752.0            1149236.0      130759074.0                        8788.96  2018             400           17500
36               F  Korea Republic          Mexico             1             2                L                KOR                MEX         61         15     11.50     1274.0            1538030.0       51164435.0                       30060.53     21.00      752.0            1149236.0      130759074.0                        8788.96  2018           65000           17500
37               F         Germany          Sweden             2             1                W                GER                SWE          1         23      8.50      700.0            3684816.0       82293457.0                       44776.54      2.10      624.0             538575.0        9982709.0                       53950.79  2018             455           32500
38               F          Mexico          Sweden             0             3                L                MEX                SWE         15         23     21.00      752.0            1149236.0      130759074.0                        8788.96      2.10      624.0             538575.0        9982709.0                       53950.79  2018           17500           32500
39               E          Brazil     Switzerland             1             1                D                BRA                SUI          2          6     24.95     1782.0            2054969.0      210867954.0                        9745.29      5.50     1537.0             678575.0        8544034.0                       79420.92  2018             400           15000
40     Round of 16          Sweden     Switzerland             1             0                W                SWE                SUI         23          6      2.10      624.0             538575.0        9982709.0                       53950.79      5.50     1537.0             678575.0        8544034.0                       79420.92  2018           32500           15000
41               E          Serbia     Switzerland             1             2                L                SRB                SUI         35          6     10.55      680.0              41471.0        8762027.0                        4733.04      5.50     1537.0             678575.0        8544034.0                       79420.92  2018           15000           15000
42               E          Brazil      Costa Rica             2             0                W                BRA                CRC          2         25     24.95     1782.0            2054969.0      210867954.0                        9745.29     24.80     2926.0              58056.0        4953199.0                       11720.91  2018             400           80000
43               E     Switzerland      Costa Rica             2             2                D                SUI                CRC          6         25      5.50     1537.0             678575.0        8544034.0                       79420.92     24.80     2926.0              58056.0        4953199.0                       11720.91  2018           15000           80000
44               F          Sweden  Korea Republic             1             0                W                SWE                KOR         23         61      2.10      624.0             538575.0        9982709.0                       53950.79     11.50     1274.0            1538030.0       51164435.0                       30060.53  2018           32500           65000
45               G         Belgium          Panama             3             0                W                BEL                PAN          3         55      9.55      847.0             494733.0       11498519.0                       43025.80     25.40     2692.0              61838.0        4162618.0                       14855.55  2018            1050          150000
46               G         England          Panama             6             1                W                ENG                PAN         13         55      8.45     1220.0            2624529.0       66573504.0                       39423.03     25.40     2692.0              61838.0        4162618.0                       14855.55  2018            1650          150000
47               G         Belgium         Tunisia             5             2                W                BEL                TUN          3         14      9.55      847.0             494733.0       11498519.0                       43025.80     19.20      207.0              40275.0       11659174.0                        3454.36  2018            1050           90000
48               G          Panama         Tunisia             1             2                L                PAN                TUN         55         14     25.40     2692.0              61838.0        4162618.0                       14855.55     19.20      207.0              40275.0       11659174.0                        3454.36  2018          150000           90000
49     Round of 16         Belgium           Japan             3             2                W                BEL                JPN          3         60      9.55      847.0             494733.0       11498519.0                       43025.80     11.15     1668.0            4872135.0      127185332.0                       38307.37  2018            1050           65000
50               H        Colombia           Japan             1             2                L                COL                JPN         16         60     24.50     2612.0             309197.0       49464683.0                        6250.86     11.15     1668.0            4872135.0      127185332.0                       38307.37  2018            4500           65000
51               H          Poland         Senegal             1             2                L                POL                SEN         10         28      7.85      600.0             524886.0       38104832.0                       13774.79     27.85      686.0              16057.0       16294270.0                         985.44  2018            9000           21000
52               H           Japan         Senegal             2             2                D                JPN                SEN         60         28     11.15     1668.0            4872135.0      127185332.0                       38307.37     27.85      686.0              16057.0       16294270.0                         985.44  2018           65000           21000
53               H          Poland        Colombia             0             3                L                POL                COL         10         16      7.85      600.0             524886.0       38104832.0                       13774.79     24.50     2612.0             309197.0       49464683.0                        6250.86  2018            9000            4500
54               H         Senegal        Colombia             0             1                L                SEN                COL         28         16     27.85      686.0              16057.0       16294270.0                         985.44     24.50     2612.0             309197.0       49464683.0                        6250.86  2018           21000            4500

In [29]:
columns_keep = [
    'Home Rank', 'Away Rank', 'Home Team Line', 'Away Team Line', 
    'Home GDP per Person (dollars)', 'Home GDP (millions)', 'Home Population', 'Home Temp', 'Home Rain',  
    'Away GDP per Person (dollars)', 'Away GDP (millions)', 'Away Population', 'Away Temp', 'Away Rain', 
]

In [30]:
full_train_X = full_train[columns_keep]
full_train_y = full_train[['Home Team Result']]

full_test_X = full_test[columns_keep]
full_test_y = full_test[['Home Team Result']]

In [31]:
full_test_X

    Home Rank  Away Rank  Home Team Line  Away Team Line  Home GDP per Person (dollars)  Home GDP (millions)  Home Population Home Temp  Home Rain  Away GDP per Person (dollars)  Away GDP (millions)  Away Population Away Temp  Away Rain
0          66         67            7500          150000                       10610.02            1527469.0      143964709.0   äÍ5.10      460.0                       20379.69             683827.0       33554343.0     24.65       59.0
1          17         67            2800          150000                       16836.47              58415.0        3469551.0     17.55     1265.0                       20379.69             683827.0       33554343.0     24.65       59.0
2          66         46            7500           32500                       10610.02            1527469.0      143964709.0   äÍ5.10      460.0                        2385.62             237073.0       99375741.0     22.10       51.0
3          67         46          150000           32500                       20379.69             683827.0       33554343.0     24.65       59.0                        2385.62             237073.0       99375741.0     22.10       51.0
4          66         18            7500            3500                       10610.02            1527469.0      143964709.0   äÍ5.10      460.0                       13089.76              54516.0        4164783.0     10.90     1113.0
5           7         18             700            3500                       39604.94            2583560.0       65233271.0     10.70      867.0                       13089.76              54516.0        4164783.0     10.90     1113.0
6           5         18             950            3500                       14270.15             637717.0       44688864.0     14.80      591.0                       13089.76              54516.0        4164783.0     10.90     1113.0
7          22         18           35000            3500                       70782.76              23909.0         337780.0      1.75     1940.0                       13089.76              54516.0        4164783.0     10.90     1113.0
8          46         17           32500            2800                        2385.62             237073.0       99375741.0     22.10       51.0                       16836.47              58415.0        3469551.0     17.55     1265.0
9          42         36           40000           85000                        3034.50             109824.0       36191805.0     17.10      346.0                        5266.56             431920.0       82011735.0     17.25      228.0
10          4          8            2300             650                       21189.37             218064.0       10291196.0     15.15      854.0                       28319.46            1313951.0       46397452.0     13.30      636.0
11         36          8           85000             650                        5266.56             431920.0       82011735.0     17.25      228.0                       28319.46            1313951.0       46397452.0     13.30      636.0
12          4         42            2300           40000                       21189.37             218064.0       10291196.0     15.15      854.0                        3034.50             109824.0       36191805.0     17.10      346.0
13          8         42             650           40000                       28319.46            1313951.0       46397452.0     13.30      636.0                        3034.50             109824.0       36191805.0     17.10      346.0
14          7         40             700           75000                       39604.94            2583560.0       65233271.0     10.70      867.0                       55689.26            1379548.0       24772247.0     21.65      534.0
15         12         40           10000           75000                       56389.28             324484.0        5754356.0      7.50      703.0                       55689.26            1379548.0       24772247.0     21.65      534.0
16          7         11             700           18000                       39604.94            2583560.0       65233271.0     10.70      867.0                        6611.74             215224.0       32551815.0     19.60     1738.0
17         40         11           75000           18000                       55689.26            1379548.0       24772247.0     21.65      534.0                        6611.74             215224.0       32551815.0     19.60     1738.0
18          7          5             700             950                       39604.94            2583560.0       65233271.0     10.70      867.0                       14270.15             637717.0       44688864.0     14.80      591.0
19         47          5           30000             950                        1921.04             376284.0      195875237.0     26.80     1150.0                       14270.15             637717.0       44688864.0     14.80      591.0
20          7          3             700            1050                       39604.94            2583560.0       65233271.0     10.70      867.0                       43025.80             494733.0       11498519.0      9.55      847.0
21          2          3             400            1050                        9745.29            2054969.0      210867954.0     24.95     1782.0                       43025.80             494733.0       11498519.0      9.55      847.0
22         13          3            1650            1050                       39423.03            2624529.0       66573504.0      8.45     1220.0                       43025.80             494733.0       11498519.0      9.55      847.0
23          5         22             950           35000                       14270.15             637717.0       44688864.0     14.80      591.0                       70782.76              23909.0         337780.0      1.75     1940.0
24         47         22           30000           35000                        1921.04             376284.0      195875237.0     26.80     1150.0                       70782.76              23909.0         337780.0      1.75     1940.0
25         11         12           18000           10000                        6611.74             215224.0       32551815.0     19.60     1738.0                       56389.28             324484.0        5754356.0      7.50      703.0
26         18         12            3500           10000                       13089.76              54516.0        4164783.0     10.90     1113.0                       56389.28             324484.0        5754356.0      7.50      703.0
27         18         47            3500           30000                       13089.76              54516.0        4164783.0     10.90     1113.0                        1921.04             376284.0      195875237.0     26.80     1150.0
28         18         13            3500            1650                       13089.76              54516.0        4164783.0     10.90     1113.0                       39423.03            2624529.0       66573504.0      8.45     1220.0
29         23         13           32500            1650                       53950.79             538575.0        9982709.0      2.10      624.0                       39423.03            2624529.0       66573504.0      8.45     1220.0
..        ...        ...             ...             ...                            ...                  ...              ...       ...        ...                            ...                  ...              ...       ...        ...
34          1         15             455           17500                       44776.54            3684816.0       82293457.0      8.50      700.0                        8788.96            1149236.0      130759074.0     21.00      752.0
35          2         15             400           17500                        9745.29            2054969.0      210867954.0     24.95     1782.0                        8788.96            1149236.0      130759074.0     21.00      752.0
36         61         15           65000           17500                       30060.53            1538030.0       51164435.0     11.50     1274.0                        8788.96            1149236.0      130759074.0     21.00      752.0
37          1         23             455           32500                       44776.54            3684816.0       82293457.0      8.50      700.0                       53950.79             538575.0        9982709.0      2.10      624.0
38         15         23           17500           32500                        8788.96            1149236.0      130759074.0     21.00      752.0                       53950.79             538575.0        9982709.0      2.10      624.0
39          2          6             400           15000                        9745.29            2054969.0      210867954.0     24.95     1782.0                       79420.92             678575.0        8544034.0      5.50     1537.0
40         23          6           32500           15000                       53950.79             538575.0        9982709.0      2.10      624.0                       79420.92             678575.0        8544034.0      5.50     1537.0
41         35          6           15000           15000                        4733.04              41471.0        8762027.0     10.55      680.0                       79420.92             678575.0        8544034.0      5.50     1537.0
42          2         25             400           80000                        9745.29            2054969.0      210867954.0     24.95     1782.0                       11720.91              58056.0        4953199.0     24.80     2926.0
43          6         25           15000           80000                       79420.92             678575.0        8544034.0      5.50     1537.0                       11720.91              58056.0        4953199.0     24.80     2926.0
44         23         61           32500           65000                       53950.79             538575.0        9982709.0      2.10      624.0                       30060.53            1538030.0       51164435.0     11.50     1274.0
45          3         55            1050          150000                       43025.80             494733.0       11498519.0      9.55      847.0                       14855.55              61838.0        4162618.0     25.40     2692.0
46         13         55            1650          150000                       39423.03            2624529.0       66573504.0      8.45     1220.0                       14855.55              61838.0        4162618.0     25.40     2692.0
47          3         14            1050           90000                       43025.80             494733.0       11498519.0      9.55      847.0                        3454.36              40275.0       11659174.0     19.20      207.0
48         55         14          150000           90000                       14855.55              61838.0        4162618.0     25.40     2692.0                        3454.36              40275.0       11659174.0     19.20      207.0
49          3         60            1050           65000                       43025.80             494733.0       11498519.0      9.55      847.0                       38307.37            4872135.0      127185332.0     11.15     1668.0
50         16         60            4500           65000                        6250.86             309197.0       49464683.0     24.50     2612.0                       38307.37            4872135.0      127185332.0     11.15     1668.0
51         10         28            9000           21000                       13774.79             524886.0       38104832.0      7.85      600.0                         985.44              16057.0       16294270.0     27.85      686.0
52         60         28           65000           21000                       38307.37            4872135.0      127185332.0     11.15     1668.0                         985.44              16057.0       16294270.0     27.85      686.0
53         10         16            9000            4500                       13774.79             524886.0       38104832.0      7.85      600.0                        6250.86             309197.0       49464683.0     24.50     2612.0
54         28         16           21000            4500                         985.44              16057.0       16294270.0     27.85      686.0                        6250.86             309197.0       49464683.0     24.50     2612.0
55         17         66            2800            7500                       16836.47              58415.0        3469551.0     17.55     1265.0                       10610.02            1527469.0      143964709.0   äÍ5.10      460.0
56          8         66             650            7500                       28319.46            1313951.0       46397452.0     13.30      636.0                       10610.02            1527469.0      143964709.0   äÍ5.10      460.0
57         17          4            2800            2300                       16836.47              58415.0        3469551.0     17.55     1265.0                       21189.37             218064.0       10291196.0     15.15      854.0
58         36          4           85000            2300                        5266.56             431920.0       82011735.0     17.25      228.0                       21189.37             218064.0       10291196.0     15.15      854.0
59         17          7            2800             700                       16836.47              58415.0        3469551.0     17.55     1265.0                       39604.94            2583560.0       65233271.0     10.70      867.0
60         12          7           10000             700                       56389.28             324484.0        5754356.0      7.50      703.0                       39604.94            2583560.0       65233271.0     10.70      867.0
61         35          2           15000             400                        4733.04              41471.0        8762027.0     10.55      680.0                        9745.29            2054969.0      210867954.0     24.95     1782.0
62         61          1           65000             455                       30060.53            1538030.0       51164435.0     11.50     1274.0                       44776.54            3684816.0       82293457.0      8.50      700.0
63         60         10           65000            9000                       38307.37            4872135.0      127185332.0     11.15     1668.0                       13774.79             524886.0       38104832.0      7.85      600.0

[64 rows x 14 columns]

In [32]:
full_train.to_csv('train_data.csv')

In [33]:
full_test.to_csv('test_data.csv')